# Git Aliases
alias gup="git pull"
alias gc="git commit -a"
alias gco="git checkout"
alias gbl="git branch -a"
alias gl="git log --graph --pretty=oneline --abbrev-commit"
alias gs="git status"
alias gmm="git fetch origin master && git merge FETCH_HEAD"
alias gd="git diff"
alias gss="git stash save"
alias gsl="git stash list"
alias gsp="git stash pop"
alias grhh="git reset --hard HEAD"
# alias gfix="vim $(git diff --name-only | uniq)"
alias gcam="git commit -am"

alias vi="vim -p"

# OS Aliases
alias stopSpotlight="sudo mdutil -a -i off"
alias startSpotlight="sudo mdutil -a -i on"

alias eh="sudo vi /etc/hosts"
alias ll="ls -alh"

#Last Pass Aliases
alias lpcp="lpass ls 'Shared-HJM_Sites/Server'"
alias lpst="lpass show 711714742575056607"
alias lpsl="lpass show 4869082874586229230"
alias lpdb="lpass show 3106477193920818240"
alias lpbkup="lpass show 1047252979063353194"
alias lpcpa="lpass show 711714742575056607 4869082874586229230 3106477193920818240 1047252979063353194"
