# Git Aliases
alias gup="git pull"
alias gc="git commit -a"
alias gco="git checkout"
alias gbl="git branch -a"
alias gl="git log --graph --pretty=oneline --abbrev-commit"
alias gs="git status"
alias gmm="git fetch origin master && git merge FETCH_HEAD"
alias gd="git diff"
alias gss="git stash save"
alias gsl="git stash list"
alias gsp="git stash pop"
alias grhh="git reset --hard HEAD"
alias gcam="git commit -am"

alias vi="vim -p"

# OS Aliases
alias stopSpotlight="sudo mdutil -a -i off"
alias startSpotlight="sudo mdutil -a -i on"

alias eh="sudo vi /etc/hosts"
alias ll="ls -alh"
